
body {
	margin: 0;
	font-family: Arial, sans-serif;
	display: flex;
	height: 100vh;
	background: #f5f6fa;
}

.sidebar {
	width: 70px;
	background: #2c3e50;
	color: #fff;
	transition: width 0.3s;
	overflow: hidden;
}

.sidebar:hover {
	width: 200px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	padding: 15px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: background 0.2s;
}

.sidebar ul li i {
	margin-right: 10px;
	min-width: 30px;
	text-align: center;
}

.main {
	flex: 1;
	padding: 20px;
}

.header {
	background: #fff;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1.0);
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1.0);
}

table th, table td {
	padding: 12px 15px;
	text-align: center;
}

table th {
	background: #2c3e50;
	color: #fff;
}

table tr:nth-child(even) {
	background: #f2f2f2;
}

table tr:hover {
	background: #e0e0e0;
}

/*****   income csss ***********/

form {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	max-width:400px;
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form h2 {
	text-align: center;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-top: 10px;
}

select, 
input[type="number"] {
	width: 100%;
	padding: 10px;
	margin-top: 5px ;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.buttons input {
	width: 48%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.submit-btn {
	background-color: #4CAF50;
	color: white;
}

.submit-btn:hover {
	background-color: #45a049;
}

.reset-btn {
	background-color: #ccc;
}

.reset-btn:hover {
	background-color: #bbb;
}

.error {
	color: red;
	font-size: 0.9em;
	margin-top: 10px;
}

@media (max-width: 500px){
	form {
		width: 100%;
		padding: 15px;
	}
	.button input {
		font-size: 14px;
		padding: 8px;
	}
}